@import "tailwindcss";

@layer base {
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-zinc-900 text-zinc-50;
  }

  * {
    @apply border-zinc-800;
  }
}
